<div class="form" >
    <form action="[% c.uri_for('/zaak/create/balie') %]" method="POST" name="aanvrager_form">
        <input type="hidden" name="create" value="1" />
        <input type="hidden" name="remembered_zaaktype" value='[% remember_zaaktype_json %]'/>
        <input type="hidden" name="prefill_zaaktype" value='[% prefill_zaaktype %]' />
        <input type="hidden" name="create_entry" value="1" />
    [% IF c.req.params.actie %]
        <input type="hidden" name="actie" value="[% c.req.params.actie %]" />
        <input type="hidden" name="actie_value" value="[% c.req.params.actie_value %]" />
        <input type="hidden" name="actie_description" value="[% c.req.params.actie_value %]" />
    [% END %]

        <h1 class="zaak_aanmaken_title block-header-border">Start een nieuwe zaak</h1>
        <table class="zaak_aanmaken table-form">
            <tbody>
                [% IF (c.user_exists && c.req.params.actie == 'doc_intake') %]
                [% dropdocument = c.model('DB::File').find(c.req.params.actie_value) %]
                <tr>
                    <td>Document</td>
                    <td>
                        <a href="[% c.uri_for('/zaak/intake/' _ dropdocument.id _ '/download') %]" class="file">
                            [% dropdocument.filename %]</a>
                        </a>
                    </td>
                </tr>
                [% END %]
                <tr>
                    <td>
                        <span>Initiatief</span>
                    </td>
                    <td>
                        <div class="ezra_trigger">
                            <label>
                                <input
                                    id="zaak_extern"
                                    type="radio"
                                    name="ztc_trigger"
                                    value="extern"
                                    checked="checked" />
                                Extern
                            </label>
                            <label>
                                <input
                                    id="zaak_intern"
                                    type="radio"
                                    name="ztc_trigger"
                                    [% (
                                    c.req.params.aanvraag_trigger == 'intern'
                                        ? ' checked="checked"'
                                        : ''
                                    ) %]
                                    value="intern" />
                                    Intern
                            </label>
                        </div>
                    </td>
                    <td class="td260">
                        [% PROCESS widgets/general/validator.tt %]
                        [% PROCESS widgets/general/tooltip.tt
                            message = 'Wie neemt het initiatief voor deze nieuwe
                                    zaak (trigger)? Kies voor
                                    <strong>extern</strong> indien het
                                    initiatief vanuit een burger, bedrijf of
                                    instelling komt. Kies voor
                                    <strong>intern</strong> indien het
                                    initiatief vanuit de eigen organisatie
                                    komt.'                
                        %]
                    </td>
                </tr>


                [% INCLUDE widgets/search_contact.tt 
                    type_label = 'Type aanvrager'
                    label = 'Aanvrager'
                    ezra_id = 'ezra_id_aanvrager'
                    input_name = 'ztc_aanvrager_id'
                    selector_input = 'betrokkene_type'
                    default_betrokkene_type = 'medewerker'
                    tooltip_label = 'aanvrager'
                    allow_external_search = 1
                %]

                <tr class="ezra_id_bestemming">
                    <td>
                        <span>Ontvanger</span>
                    </td>
                    <td>
                        <div class="ezra_betrokkene_type">
                            <label>
                                <input
                                    type="radio"
                                    name="bestemming"
                                    value="extern"
                                checked="checked"
                                /> 
                                Extern
                            </label>
                            <label>
                                <input
                                type="radio"
                                name="bestemming"
                                value="intern"
                                id="bestemming_intern"
                                />
                                Intern
                            </label>
                        </div>
                    </td>
                    <td>
                        [% PROCESS widgets/general/validator.tt %]
                        [% PROCESS widgets/general/tooltip.tt
                            message = 'Geef aan voor wie deze zaak bestemd is.
                                Kies voor <strong>extern</strong> indien
                                dit een burger, bedrijf of instelling is.
                                Kies voor <strong>intern</strong> indien
                                dit iemand binnen de eigen organisatie is.'                
                        %]
                    </td>
                </tr>

                [% INCLUDE widgets/search_contact.tt 
                    type_label = 'Type ontvanger'
                    label = 'Naam ontvanger'
                    ezra_id = 'ezra_id_ontvanger'
                    selector_input = 'ontvanger_type'
                    input_name = 'ontvanger'
                    tooltip_label = 'ontvanger'
                    allow_external_search = 1
                %]

                [% PROCESS widgets/zaak/contactchannel.tt %]
                [% PROCESS zaaktype/select.tt %]  
        </table>
        <div class="form-actions clearfix">
            <input type="submit" class="button button-primary right" value="Volgende">
        </div>
    </form>
</div>