<div class="proposal-note-view__header">

	<div class="proposal-note-view__header-container">

		<zs-spinner is-loading="proposalNoteBar.isLoading()" class="spinner-tiny"></zs-spinner>

		<button 
			class="proposal-note-view__header-button" 
			ng-click="proposalNoteBar.goBack()"
			ng-show="!proposalNoteBar.isLoading()"
		>
			<zs-icon icon-type="arrow-left"></zs-icon>
		</button>

		<div class="proposal-note-view__header-title">
			{{proposalNoteBar.getTitle()}}
		</div>

		<div class="proposal-note-view__header-rightbuttoncontainer">
			<button 
				class="proposal-note-view__header-button" 
				ng-click="proposalNoteBar.deleteNote()"
				ng-disabled="proposalNoteBar.isLoading()"
				ng-if="!proposalNoteBar.isNew()"
			>
				<zs-icon icon-type="close"></zs-icon>
			</button>

			<button 
				class="proposal-note-view__header-button" 
				ng-click="proposalNoteBar.saveNote()"
				ng-disabled="proposalNoteBar.isLoading()"
			>
				<zs-icon icon-type="check"></zs-icon>
			</button>
		</div>
		
	</div>
	
</div>

<div class="proposal-note-view__body">
		
	<textarea 
		ng-model="proposalNoteBar.noteContent"
		placeholder="Deze notitie is alleen voor u zichtbaar."
		>
	</textarea>

</div>
