<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
		    <div class="field-help">
		        [% PROCESS widgets/general/dropdown.tt
		            icon = 'icon-question-sign',
		            icon_type = 'icon-font-awesome',
		            dropdown_content="Deze tekst verschijnt wanneer een gebruiker voor het eerst inlogt in zaaksysteem"
		        %]
		    </div>
			<label>Introductietekst nieuwe gebruiker</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
			<textarea name="[% parameter %]">[% value %]</textarea>
		</div>
	</div>

</div>
