<div class="calendar-module-unavailable"
	ng-show="vm.isUnavailable()"
>
	De benodigde koppeling voor dit afsprakenkenmerk is niet goed ingesteld. Neem contact op met uw beheerder voor meer informatie.
</div>

<div class="calendar-module-available"
	ng-show="!vm.isUnavailable()"
>

	<zs-dropdown-menu
		button-label="{{vm.getDateLabel()}}"
		data-options="vm.getDateOptions()"
		empty-label="{{vm.isDateLoading() ? 'Bezig met het ophalen van data' : 'Geen dagen beschikbaar'}}"
		is-fixed="true"
		position-options="{ attachment: 'top left', target: 'bottom left', flip: true, updateOn: 'default watch' }"
		on-open="vm.onDateOpen()"
	></zs-dropdown-menu>

	<zs-dropdown-menu
		button-label="{{vm.getTimeLabel()}}"
		data-options="vm.getTimeOptions()"
		ng-show="vm.isTimeVisible()"
		empty-label="{{vm.isTimeLoading() ? 'Bezig met het ophalen van tijdstippen' : 'Geen tijdstippen beschikbaar'}}"
		is-fixed="true"
		position-options="{ attachment: 'top left', target: 'bottom left', flip: true, updateOn: 'default watch' }"
	></zs-dropdown-menu>

	<button
		type="button"
		class="btn btn-secondary"
		ng-click="vm.confirmAppointment()"
		ng-disabled="!vm.canConfirm()"
	>
		Bevestig afspraak
	</button>

	<button
		type="button"
		class="btn btn-flat"
		ng-click="vm.closeForm()"
		ng-show="vm.isTimeVisible()"
	>
		Annuleer
	</button>

	<zs-spinner class="spinner-small" is-loading="vm.isDateLoading()||vm.isTimeLoading()"></zs-spinner>

</div>
