    [%# Nieuwe zaak dropdown menu. onderaan de pagina geplaatst om IE stacking bug te omzeilen %]
    
    [% IF !c.user_exists %]</div>
        
    </script>
    
    [% END %]
    
    <script>
    document.write("<div style=\"visiblity:hidden;display:none;\"><img src=\"/images/visitors-screen-res-check.jpg?"+screen.width+"x"+screen.height+"x"+screen.colorDepth+"\" /></div>");
    </script>    
    
    </body>
</html>

