<div class="action">
    <table class="fixed-layout">
        <thead>
            <tr>
                <th class="td100">Veld</th>
                <th class="td400">Nieuwe waarde</th>
                <th class="td400">Bestaande waarde</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Naam:</strong></td>
                <td>[% item.properties.pdc_name || '-' %]</td>
                <td>[% item.existing.pdc_name || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Omschrijving:</strong></td>
                <td>[% item.properties.pdc_description || '-' %]</td>
                <td>[% item.existing.pdc_description || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Voorwaarden:</strong></td>
                <td>[% item.properties.pdc_conditions || '-' %]</td>
                <td>[% item.existing.pdc_conditions || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Aanpak:</strong></td>
                <td>[% item.properties.pdc_approach || '-' %]</td>
                <td>[% item.existing.pdc_approach || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Kosten:</strong></td>
                <td>[% item.properties.pdc_price || '-' %]</td>
                <td>[% item.existing.pdc_price || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Bezwaar en beroep</strong></td>
                <td>[% item.properties.pdc_appeal || '-' %]</td>
                <td>[% item.existing.pdc_appeal || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Wet- en regelgeving</strong></td>
                <td>[% item.properties.pdc_law_rules || '-' %]</td>
                <td>[% item.existing.pdc_law_rules || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Contact</strong></td>
                <td>[% item.properties.pdc_contact || '-' %]</td>
                <td>[% item.existing.pdc_contact || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Adressen</strong></td>
                <td>[% item.properties.pdc_submission_addresses || '-' %]</td>
                <td>[% item.existing.pdc_submission_addresses || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Doelgroepen</strong></td>
                <td>[% item.properties.pdc_audience || '-' %]</td>
                <td>[% item.existing.pdc_audience || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Werkinstructie</strong></td>
                <td>[% item.properties.pdc_work_instruction || '-' %]</td>
                <td>[% item.existing.pdc_work_instruction || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Interne contactpersonen</strong></td>
                <td>[% item.properties.pdc_internal_contact_persons || '-' %]</td>
                <td>[% item.existing.pdc_internal_contact_persons || '-' %]</td>
            </tr>
            <tr>
                <td><strong>Relaties:</strong></td>
                <td>
                    <ul>
                        [% FOREACH relation IN item.relations %]
                        [% NEXT UNLESS relation.local_id %]
                        <li>
                            [% IF relation.type == 'faq' %]
                            Vraag
                            [% ELSIF relation.type == 'product' %]
                            Product
                            [% END %]
                            -
                            [% relation.label %]
                        </li>
                        [% END %]
                    </ul>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
